<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        background-image: url("https://img.pikbest.com/templates/20240706/fruit-fruit-banner-for-supermarket-store-green-background_10654794.jpg!w700wp");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 80%;
      }

      .text,
      .text {
        font-weight: bold;
        font-size: 20px;
        color: blue;
      }

      .text1 {
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 480px;
        color: black;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1 class="pagination justify-content-center h1">LOGIN</h1>
      <form id="SubmitSignIn" class="was-validated mb-5">
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">Username:</label>
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="Enter username"
            name="username"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter password"
            name="password"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button
          type="submit"
          class="btn btn-success d-block mx-auto"
          style="width: 200px"
        >
          LOGIN
        </button>
        <p class="text1">
          <a href="\user\register" class="text">REGISTER</a>
        </p>
      </form>
    </div>
    <script>
      try {
        const SubmitSignIn = document.getElementById("SubmitSignIn");

        SubmitSignIn.addEventListener("submit", (event) => {
          event.preventDefault();

          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;

          fetch("/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              username: username, 
              password: password,
            }),
          })
            .then((response) => {
              console.log(response);
              if (response.status == 200) {
                window.location.href = `/home?email=${encodeURIComponent(
                  username
                )}`;
              } else {
                alert("Wrong account or password");
              }
            })
            .then((data) => {
              console.log(data);
            })
            .catch((err) => {
              console.log(err);
            });
        });
      } catch (error) {
        console.log(error);
      }
    </script>
  </body>
</html>
