<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
      }

      nav {
        background-color: white;
        color: black;
        padding: 10px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        margin-left: 10px;
        display: flex;
      }

      li {
        display: inline;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s;
      }

      a:hover {
        color: white;
      }

      .user-info {
        display: flex;
        align-items: center;
      }

      .user-avatar {
        border-radius: 50%;
        margin-right: 20px;
        width: 40px;
        height: 40px;
      }

      .user-name {
        font-weight: bold;
        margin-right: 10px;
      }

      .sidebar {
        position: fixed;
        top: 60px;
        left: -200px;
        width: 200px;
        height: 100%;
        background-color: grey;
        transition: left 0.3s;
        overflow-x: hidden;
      }

      .sidebar a {
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
        transition: color 0.3s;
      }

      .sidebar a:hover {
        background-color: #555;
        color: white;
      }

      .toggle-btn {
        font-size: 20px;
        cursor: pointer;
        margin-left: 10px;
      }

      .sidebar-right {
        position: fixed;
        top: 60px;
        right: -200px; /* Changed from left to right */
        width: 200px;
        height: 100%;
        background-color: white;
        transition: right 0.3s; /* Changed from left to right */
        overflow-x: hidden;
      }

      .sidebar-right a {
        padding: 10px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
        transition: color 0.3s;
      }

      .sidebar-right a:hover {
        background-color: #555;
        color: white;
      }
    </style>
  </head>

  <body>
    <nav>
      <a class="toggle-btn" onclick="toggleLeftSidebar()">&#9776;</a>
      <ul>
        <a href="/home"> </a>
      </ul>
      <div class="user-info" onclick="toggleRightSidebar()">
        <img
          src="https://scontent.fhan14-5.fna.fbcdn.net/v/t39.30808-6/428042613_3500725320145224_7857774753062135406_n.jpg?stp=cp6_dst-jpg&_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=5hc3eQfbDT4Q7kNvgEaOyUj&_nc_ht=scontent.fhan14-5.fna&gid=A33xiRB1H-X1DeqVPDJ7qe7&oh=00_AYDlvMf82bid2s_BmJ8SLWti-VtW92nkPvsAIdZFLr_KjA&oe=66B17C88"
          alt="User Avatar"
          class="user-avatar"
        />
        <span class="user-name" id="EmailSignIn">MAI THÀNH</span>
      </div>
    </nav>

    <!-- Sidebar content -->
    <div class="sidebar">
      <a href="\home">TRANG CHỦ</a>
      <a href="\comic">CỬA HÀNG</a>
      <a href="\comic\insert">THÊM SẢN PHẨM</a>
      <a href="\user">NGƯỜI DÙNG</a>
      <a href="\user\register">THÊM NGƯỜI DÙNG</a>
    </div>

    <div class="sidebar-right">
      <a href="\login">THOÁT </a>
    </div>

    <script>
      function toggleLeftSidebar() {
        var sidebar = document.querySelector(".sidebar");
        sidebar.style.left = sidebar.style.left === "0px" ? "-200px" : "0";
      }

      function toggleRightSidebar() {
        var sidebarRight = document.querySelector(".sidebar-right");
        sidebarRight.style.right =
          sidebarRight.style.right === "0px" ? "-200px" : "0";
      }
    </script>
  </body>
</html>
