<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      body {
        background-image: url("https://mdbootstrap.com/img/Photos/Others/images/79.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }

      .container {
        margin-top: 250px;
        background-color: rgba(
          255,
          255,
          255,
          0.8
        ); /* Màu nền với độ trong suốt */
        padding: 20px;
        border-radius: 10px; /* Bo viền */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ mờ */
        width: 80%; /* Độ rộng của khung chứa form */
      }

      .container h1 {
        margin-bottom: 20px;
      }

      .form-group {
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <%- include('../views/Navbar.ejs') -%>
    <div class="container">
      <h1 class="pagination justify-content-center">INSERT USER</h1>
      <form id="insertUser" class="was-validated" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username" class="form-label">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter your username ..."
            name="username"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter your password..."
            name="password"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="email" class="form-label">Email:</label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Enter your email..."
            name="email"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="fullname" class="form-label">Fullname:</label>
          <input
            type="text"
            class="form-control"
            id="fullname"
            placeholder="Enter your fullname..."
            name="fullname"
            required
          />
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <button
          type="submit"
          class="btn btn-primary d-block mx-auto"
          style="width: 200px"
        >
          INSERT
        </button>
      </form>
    </div>
    <script>
      const submitForm = document.getElementById("insertUser");

      submitForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const email = document.getElementById("email").value;
        const fullname = document.getElementById("fullname").value;

        const data = {
          username,
          password,
          email,
          fullname,
        };

        fetch("/user/post", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            console.log(response);
            if (response.status == 200) {
              alert("Insert successfully !!!");
              window.location.href = "/user";
            } else {
              alert("Insert failed already exists");
            }
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
